<div class="container">
   <div class="new-container">
    <p id="photog-info" class="right photog-attribution"><a href="<%= @photo.photog_url %>?utm_source=jot&utm_medium=referral&utm_campaign=api-credit"><%= @photo.photog_name %></a> / <a href="https://unsplash.com/?utm_source=jot&utm_medium=referral&utm_campaign=api-credit">Unsplash</a></p>
      <img class="unsplashed" src="<%= @photo.url %>">
    </div>
  <div id="jot-popups" class="jot-block">
    <h3 id="prompts">
        <span id="look">look.</span>
        <span id="inhale">breathe in.</span>
        <span id="pause">pause.</span>
        <span id="exhale">breathe out.</span>
        <span id="do-magic">close your eyes and take a deep breath.</span>
        <span id="write">relax. write.</span>
    </h3>
  </div>

  <div class="new-container">
    <form id="jot-form"  action="/jots" method="post">
      <button id="save" type="submit"><h3>save.</h3></button>
        <input type="hidden" name="photo[url]" value="<%= @photo.url %>">
        <input type="hidden" name="photo[photog_name]" value="<%= @photo.photog_name %>">
        <input type="hidden" name="photo[photog_url]" value="<%= @photo.photog_url %>">

        <div id="textarea-holder">
          <div id="textarea-border">
            <textarea class="unsplashed" rows="10" name="content"></textarea>
          </div>
        </div>
    </form>
  </div>
</div>
<script src="/js/animation.js"></script>